/.metadata/
.metadata/.log
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/tasks.xml.zip
Java101/bin/RandomMethodTest.class
Java101/bin/ShoppingListTester.class
Java101/src/RandomMethodTest.java
Java101/src/ShoppingList_Stack.java
Java101/src/ShoppingListTester.java
Java101/bin/RandomMethodTest.class
Java101/bin/ShoppingListTester.class
Java101/src/RandomMethodTest.java
Java101/src/ShoppingList_Stack.java
Java101/src/ShoppingListTester.java
/.recommenders/
